﻿body {
    background-image: linear-gradient(to right, #ccc, #333, #ccc),
    url("../img/background.jpg");
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1.1em;
    font-weight: 900;
}
.imgSize {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border: thin solid black;
    box-shadow: 5px 10px #888888;
}
hr {
    border: 2px;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, rgba(239, 148, 148, 1),#FF5507, rgba(239, 148, 148, 1));
    
}
#menuNav {
    text-align: center;
    background:linear-gradient(to right, rgba(255,120,0,0.2), rgba(255,150,0,0.25));
}
.navWidth {
    width: 50%;
    margin: 0 auto;
}
.main {
    height: 500px;
    border: thin solid black;
    overflow: hidden;
}
.leftDiv {
    border: thin solid black;
}
.mainDIv {
    background: linear-gradient(to right, #F5F5DC, whitesmoke, beige);
}

.whiteColor {
    color: white;
}
.divfooter {
    border: thin solid black;
    height: 60px;
}
.spacedef {
    width: 100%;
    height: 100%;

}
.defaultInfo {
    background: linear-gradient(to right, white, rgba(255, 255, 228, 0.86), white);
   
}
#weather {
    text-align: center;
    font-family: cursive;
    text-decoration: none;
    cursor: pointer;
    text-shadow: #888888;
}
    #weather :hover {
        color: bisque;
        transform: scale(1.2);
        transition: 2s ease-in-out;
    }
.afficherInfo {
     /* background: linear-gradient(to right, #F5F5DC, whitesmoke, beige);*/
}
/*======================================================================*/
#infoDisp {
    text-align: center;
    color: whitesmoke;
}
.titreAffiche {
    height: 20px;
}